@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model project.Models.DataModels.DataviewTable
@{
    ViewData["Title"] = "本地單位瀏覽";
}
@if (!User.Claims.Any())
{

}
else
{

    <!--<div class="block-area">
        <h2 class="page-title">用戶瀏覽</h2>
    </div>-->
    <!-- Responsive Table -->
    <div class="block-area" id="responsiveTable" style="text-align:center!important;">

        <div style="display:flex;justify-content:space-between;" class="hide-on-desktop">
            <h3 class="block-title">左滑&larr;</h3>
            <h3 class="block-title">本地</h3>
            <h3 class="block-title">右滑&rarr;</h3>
        </div>
        <div class="table-responsive overflow" id="main_table">
            <table class="table tile table-bordered table-striped" id="edit_table">
                <thead>
                    <tr>
                        <th style="text-align:center;vertical-align:middle;">編輯</th>
                        <th style="text-align:center;vertical-align:middle;">刪除</th>
                        <th style="text-align:center;vertical-align:middle;">
                            單位
                            <div class="media-body">
                                <input id="search_name" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            統編
                            <div class="media-body">
                                <input id="search_tax" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            縣市
                            <div class="media-body">
                                <input id="search_country" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            地區
                            <div class="media-body">
                                <input id="search_city" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            詳細地址
                            <div class="media-body">
                                <input id="search_address" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            CEL
                            <div class="media-body">
                                <input id="search_cel" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            TEL
                            <div class="media-body">
                                <input id="search_tel" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            FAX
                            <div class="media-body">
                                <input id="search_fax" type="text" class="main-search" oninput="searching(this)" onchange="searching(this)">
                            </div>
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            上次修改時間
                        </th>
                        <th style="text-align:center;vertical-align:middle;">
                            上次修改者
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        var tmp = "";
                        var detailaddress = "";
                        bool allow = false;
                        string disabledstring = "disabled";

                        if (Model.data != null)
                        {
                            foreach (var v in Model.data)
                            {
                                allow = false;
                                foreach (var child in v.identity)
                                {
                                    var eml = @User.Claims.FirstOrDefault(x => x.Type == "emailaddress").Value;
                                    if (child.email.Equals(eml))
                                    {
                                        allow = true;
                                        break;
                                    }
                                }
                                <tr>
                                    <td>
                                        @{tmp = (@String.Format("#form-modal{0}", count));}
                                        @if (allow)
                                        {
                                            disabledstring = "";
                                            <a data-toggle="modal" data-target="@tmp" href="#" onclick="return false;" class="btn btn-block btn-alt" style="border:1px solid rgba(127, 255, 127, 0.31) !important">編輯</a>
                                        }
                                        else
                                        {
                                            disabledstring = "disabled";
                                            <a data-toggle="modal" data-target="@tmp" href="#" onclick="return false;" class="btn btn-block btn-alt" style="border:1px solid rgba(127, 255, 127, 0.31) !important">查看</a>
                                        }
                                        <!-- Modal -->
                                        @{tmp = (@String.Format("form-modal{0}", count));}
                                        <div class="modal fade" id="@tmp" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" style="top:10%;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true" tabindex="-1">&times;</button>
                                                        @if (allow)
                                                        {
                                                            <h4 class="modal-title" style="font-size:20px">編輯資料</h4>
                                                        }
                                                        else
                                                        {
                                                            <h4 class="modal-title" style="font-size:20px">僅能查看 無法編輯</h4>
                                                            tmp = (@String.Format("tobeconfirmed{0}", count));
                                                            <form role="form" method="post" asp-action="require_tobeconfirmed" asp-controller="DataView">
                                                                <input id="@tmp" name="@tmp" type="text" maxlength="8" data-validatetax class="display_none form-control input-sm validate[required,custom[number]]" placeholder="統編" value="@v.tax" autocomplete="off">
                                                                <button type="submit" class="btn btn-sm btn-alt" tabindex="-1">要求編輯權限</button>
                                                            </form>
                                                        }
                                                        <div style="display:flex;flex-direction:column;">
                                                            <h6><span style="color:red;font-weight:bold;">* </span>必填欄位</h6>
                                                            <h6><span style="color:red;font-weight:bold;">* </span>編輯完成時請按下方儲存按鈕，才算完成編輯</h6>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal form-validation-2" role="form" asp-controller="DataView" asp-action="editlocalunit">
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("name{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>名稱</label>
                                                                <div class="col-md-8">
                                                                    <input id="@tmp" name="@tmp" type="text" class="form-control input-sm validate[required]" placeholder="名稱" value="@v.name" autocomplete="off" @disabledstring>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("tax{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>統編</label>
                                                                <div class="col-md-8">
                                                                    <input id="@tmp" name="@tmp" type="text" maxlength="8" data-validatetax class="form-control input-sm validate[required,custom[number]]" placeholder="統編" value="@v.tax" autocomplete="off" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("cel{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label">CEL</label>
                                                                <div class="col-md-8">
                                                                    <input id="@tmp" name="@tmp" type="text" value="@v.cel" class="form-control input-sm mask-phone_with_ddd" placeholder="CEL" autocomplete="off" @disabledstring>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("telareacode{0}", count));}

                                                                <label for="@tmp" class="col-md-3 control-label">TEL</label>
                                                                <div class="col-md-2">
                                                                    <input id="@tmp" name="@tmp" value="@v.tel.areacode" type="text" class="form-control input-sm" placeholder="TEL-區碼" autocomplete="off" @disabledstring>
                                                                </div>
                                                                @{tmp = (@String.Format("telcode{0}", count));}
                                                                <div class="col-md-1">
                                                                    -
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <input id="@tmp" name="@tmp" value="@v.tel.number" type="text" class="form-control input-sm" placeholder="TEL-號碼" autocomplete="off" @disabledstring>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("faxareacode{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label">FAX</label>
                                                                <div class="col-md-2">
                                                                    <input id="@tmp" name="@tmp" value="@v.fax.areacode" type="text" class="form-control input-sm" placeholder="FAX-區碼" autocomplete="off" @disabledstring>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    -
                                                                </div>
                                                                @{tmp = (@String.Format("faxcode{0}", count));}
                                                                <div class="col-md-5">
                                                                    <input id="@tmp" name="@tmp" value="@v.fax.number" type="text" class="form-control input-sm" placeholder="FAX-號碼" autocomplete="off" @disabledstring>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("country{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>縣市</label>
                                                                <div class="col-md-8">
                                                                    <select id="@tmp" name="@tmp" class="form-control input-sm validate[required]" onChange="country_pick(this)" @disabledstring>
                                                                        <option value="">選擇縣市</option>
                                                                        @{
                                                                            if (Model.countrylist != null)
                                                                            {
                                                                                foreach (var x in Model.countrylist)
                                                                                {
                                                                                    if (x == v.country)
                                                                                    {
                                                                                        <option value="@x" selected>
                                                                                            @x
                                                                                        </option>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="@x">
                                                                                            @x
                                                                                        </option>
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("city{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>地區</label>
                                                                <div class="col-md-8">
                                                                    <select id="@tmp" name="@tmp" data-value="@v.city" class="form-control input-sm validate[required]" onChange="city_pick(this)" @disabledstring>
                                                                        <option value="">選擇地區</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("address{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>詳細地址</label>
                                                                <div class="col-md-8">
                                                                    <input id="@tmp" name="@tmp" value="@v.address" type="text" class="form-control input-sm validate[required]" onchange="editgooglemapembed(this)" placeholder="詳細地址" autocomplete="off" @disabledstring>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @{tmp = (@String.Format("lastedittime{0}", count));}
                                                                <label for="@tmp" class="col-md-3 control-label">最後編輯時間</label>
                                                                <div class="col-md-8">
                                                                    <label id="@tmp" name="@tmp" class="form-control input-sm">@v.lastedittime</label>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer" style="text-align:right">
                                                                @if (allow)
                                                                {
                                                                    tmp = (@String.Format("editsubmit{0}", count));
                                                                    <button id="@tmp" type="submit" class="btn btn-sm btn-alt" tabindex="-1">儲存</button>
                                                                }
                                                                <button type="button" class="btn btn-sm btn-alt" data-dismiss="modal" tabindex="-1">關閉</button>
                                                            </div>
                                                        </form>
                                                        @{tmp = (@String.Format("togglemap{0}", count));}
                                                        <p style="display:flex;justify-content:center;">
                                                            <button id="@tmp" name="@tmp" onclick="toggledmap(this)" class="btn btn-sm btn-alt">顯示 google map 地圖</button>
                                                        </p>
                                                        @{tmp = (@String.Format("mapembed{0}", count));}
                                                        @{detailaddress = (@String.Format("https://www.google.com/maps/embed/v1/place?key=AIzaSyD_2epcPMRsd72k2z5PexCMxt4Vi2Fp_qM&q={0}", v.country + v.city + v.address));}
                                                        <div class="iframe-rwd" style="margin-top:10px;">
                                                            <iframe width="fit-content" id="@tmp" name="@tmp" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@detailaddress" style="color:#0000FF;text-align:left">
                                                            </iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--data-toggle="modal" href="#form-modal1"-->
                                    </td>
                                    <td>
                                        @{tmp = (@String.Format("form{0}", count));}
                                        @if (allow)
                                        {
                                            <a id="@tmp" href="#" onClick="refresh_table(this); return false;" class="btn btn-block btn-alt" style="border:1px solid rgba(255, 127, 127, 0.31) !important" @disabledstring>刪除</a>
                                        }
                                        else
                                        {
                                            <a id="@tmp" href="#" onClick="return false;" class="btn btn-block btn-alt" style="border:1px solid rgba(255, 127, 127, 0.31) !important" @disabledstring>沒有權限</a>
                                        }
                                    </td>
                                    <td>@v.name</td>
                                    <td>@v.tax</td>
                                    <td>@v.country</td>
                                    <td>@v.city</td>
                                    <td>@v.address</td>
                                    <td>@v.cel</td>
                                    <td>@v.tel.areacode @v.tel.number</td>
                                    <td>@v.fax.areacode @v.fax.number</td>
                                    <td>@v.lastedittime</td>
                                    <td>@v.lastedituser.name</td>
                                </tr>
                                count = count + 1;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <a data-toggle="modal" data-target="#addnewdata" href="#" title="" class="form-control btn btn-alt" style="color:white;margin-top:15px;z-index:10000;" onclick="return false;">新增</a>
        <!-- Modal -->
        <div class="modal fade" id="addnewdata" tabindex="-1" style="z-index: 10000;" role="dialog">
            <div class="modal-dialog" style="top:10%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true" tabindex="-1">&times;</button>
                        <h4 class="modal-title" style="font-size:20px">新增單位</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-validation-2" role="form" method="post" asp-action="createunit" asp-controller="DataView">
                            <div class="form-group">
                                <label for="newname" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>名稱</label>
                                <div class="col-md-8">
                                    <input id="newname" name="newname" type="text" class="form-control input-sm validate[required]"  placeholder="名稱" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newtax" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>統編</label>
                                <div class="col-md-8">
                                    <input id="newtax" name="newtax" maxlength="8" type="text" data-validatetax class="form-control input-sm validate[required,custom[number]]" placeholder="統編" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newcel" class="col-md-3 control-label">CEL</label>
                                <div class="col-md-8">
                                    <input id="newcel" name="newcel" type="text" class="form-control input-sm mask-phone_with_ddd" placeholder="CEL" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newtelareacode" class="col-md-3 control-label">TEL</label>
                                <div class="col-md-2">
                                    <input id="newtelareacode" name="newtelareacode" type="text" class="form-control input-sm" placeholder="TEL-區碼" autocomplete="off">
                                </div>
                                <div class="col-md-1">
                                    -
                                </div>
                                <div class="col-md-5">
                                    <input id="newtelcode" name="newtelcode" type="text" class="form-control input-sm" placeholder="TEL-號碼" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfaxareacode" class="col-md-3 control-label">FAX</label>
                                <div class="col-md-2">
                                    <input id="newfaxareacode" name="newfaxareacode" type="text" class="form-control input-sm" placeholder="FAX-區碼" autocomplete="off">
                                </div>
                                <div class="col-md-1">
                                    -
                                </div>
                                <div class="col-md-5">
                                    <input id="newfaxcode" name="newfaxcode" type="text" class="form-control input-sm" placeholder="FAX-號碼" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newcountry" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>縣市</label>
                                <div class="col-md-8">
                                    <select id="newcountry" name="newcountry" class="form-control input-sm validate[required]" onChange="newcountry_pick(this)">
                                        <option value="" selected>選擇縣市</option>
                                        @{
                                            if (Model.countrylist != null)
                                            {
                                                foreach (var x in Model.countrylist)
                                                {
                                                    <option value="@x">
                                                        @x
                                                    </option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newcity" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>地區</label>
                                <div class="col-md-8">
                                    <select id="newcity" name="newcity" class="form-control input-sm validate[required]" onChange="newcity_pick(this)" disabled>
                                        <option value="">選擇地區</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newaddress" class="col-md-3 control-label"><span style="color:red;font-weight:bold;">* </span>詳細地址</label>
                                <div class="col-md-8">
                                    <input id="newaddress" name="newaddress" class="form-control input-sm validate[required]" onchange="googlemapembed(this)" type="text" disabled placeholder="詳細地址" autocomplete="off">
                                </div>
                            </div>
                            <div class="modal-footer" style="text-align:right">
                                <!--<button type="button" class="btn btn-sm btn-alt" tabindex="-1">儲存</button>-->
                                <button type="submit" class="btn btn-sm btn-alt" tabindex="-1">送出</button>
                                <button type="button" class="btn btn-sm btn-alt" data-dismiss="modal" tabindex="-1">關閉</button>
                            </div>
                        </form>
                        <p style="display:flex;justify-content:center;">
                            <button id="togglemap" name="togglemap" onclick="toggledmap(this)" class="btn btn-sm btn-alt">顯示 google map 地圖</button>
                        </p>
                        <div class="iframe-rwd" style="margin-top:10px;">
                            <iframe width="fit-content" id="mapembed" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD_2epcPMRsd72k2z5PexCMxt4Vi2Fp_qM&q=正昌鐵工所" style="color:#0000FF;text-align:left">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (TempData["message"] != null)
    {
        <script>
            Swal.fire({
                title: '訊息',
                text: '@TempData["message"]',
                icon: 'successful',
                confirmButtonColor: '#DD6B55',
                timer: 2000,
                showConfirmButton: true
            });
        </script>
    }
}




<!-- Input Mask -->
<script src="~/js/input-mask.min.js"></script>
<!-- Textare autosize-->
<script src="~/js/autosize.min.js"></script>
<!-- Textare autosize-->
<script src="~/js/dataview/functions.js"></script>
<script src="~/js/listening_onlineuser.js"></script>
<script src="~/js/listening_userblocking.js"></script>